@{
    ViewData["Title"] = "Home Page";
}
@section Css{

    <link rel="stylesheet" href="~/css/example.css" />

    <style>
        h1{
            color:red;
            background-color:blue;
        }
    </style>

}
@section Scripts
{
    <script type="text/javascript">
       // alert("Hoşgeldin")
           $(document).ready(function(){
               console.log("hoşgeldin")
           })

    </script>

}
<h1>Hello</h1>

<h2>merhaba aps net bu style dosyadan gelmekte</h2>

@*<partial name="_MenuPartialView"/>
@await Html.PartialAsync("_MenuPartialView")*@