@{
    ViewData["Title"] = "Home Page";
}
@section Css{



}
@section Scripts
    {


}


<div class="row">
    <div class="col-md-4">

        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>


    <div class="col-md-4">
        @*@await Component.InvokeAsync("ProductList", new {type=1})*@

        <vc:product-list type="1"></vc:product-list>

    </div>

</div>


