@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}
@section Header{
    <p>Bu kodlar Header'ın hemen altına eklenecek</p>
}

@section Footer{
        <p>Bu kodlar Footer'ın hemen altına eklenecek</p>
}
<div>Bu sayfa Example Controller > Index Sayfası</div>