
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    <div>Bu sayfa layout sayfalarından beslenmemektedir</div>
    <partial name="_MenuPartialView" />
</body>
</html>
